<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="theme-{% if site.resume_theme %}{{ site.resume_theme }}{% endif %}">

    <div class="wrapper">

      <header class="page-header">

        <!-- You can turn off the avatar in _config.yml by setting to false -->
        {% if site.resume_avatar == 'true' %}
        <img src="images/avatar.jpg" alt="my photo" class="avatar">
        {% endif %}

        <!-- Your name is defined in the _config.yml file -->
        <h1 class="header-name">{{ site.resume_name }}</h1>

        <div class="title-bar">

          <!-- Your title is also defined in the _config.yml file -->
          <h2 class="header-title">{{ site.resume_title }}</h2>

          <!-- This is the markup for the icon links; moved out to an include because it's very verbose, and you shouldn't ever need to edit the markup (unless you want to re-order the icons); if you want to customize which links appear, define them in the _config.yml file -->
          {% include icon-links.html %}
        </div>

        <div class="executive-summary">
          <p>An adaptable, responsible, outgoing, hard working a soon to be graduate seeking an intership position or job as a web developer.</p>
        </div>

        {% if site.resume_looking_for_work == 'yes' %}
        <a href="mailto:{{ site.resume_contact_email }}" class="contact-button">Contact me</a>
        {% elsif site.resume_looking_for_work == 'no' %}
        <a class="contact-button not-looking">I'm not looking for work right now.</a>
        {% else %}
        {% endif %}

      </header>

      {% if site.resume_section_experience %}
      <!-- begin Experience -->
      <section class="content-section">

        <header class="section-header">
          <h2>Experience</h2>
        </header>

        <!-- Duplicate these resume-item elements and edit accordingly for each job you want to add here -->
        <div class="resume-item">
          <h3 class="resume-item-title">Springfield Nuclear Power Plant</h3>
          <h4 class="resume-item-details">Safety Inspector &bull; Nov, 1980 &mdash; Present</h4>
          <p class="resume-item-copy">Write about your core competencies in one or two sentences describing your position. If you held the position for a long time, it could be a longer section, including a couple bullet points:</p>
          <ul class="resume-item-list">
            <li>Ate lots of donuts</li>
            <li>Fell asleep rarely</li>
            <li>Left promptly at end of day (sometimes earlier)</li>
          </ul>
          <p class="resume-item-copy">If you're going to copy paste markup, or edit it, just be sure to keep the appropriate classnames on your new elements for styling purposes.</p>

        </div><!-- end of resume-item -->

        <!-- another resume item -->
        <div class="resume-item">
          <h3 class="resume-item-title">Sir Putt-A-Lot's Merrie Olde Fun Centre</h3>
          <h4 class="resume-item-details">Windmill Crank Operator &bull; Jun, 1978 &mdash; Sept, 1979</h4>
          <p class="resume-item-copy">If your stint was shorter, feel free to be brief and just call out the most meaningful points of your role. Be concise, and be meaninful. The person reading just needs enough to want to talk to you more about your experience.</p>

        </div><!-- end of resume-item -->

        <!-- by now you're getting the picture... -->
        <div class="resume-item">
          <h3 class="resume-item-title">Simpson Lazer Tag</h3>
          <h4 class="resume-item-details">Front Desk Attendant &bull; Jun, 1975 &mdash; May, 1978</h4>
          <p class="resume-item-copy">Boy, when Marge first told me she was going to the Police Academy, I thought it would be fun and exciting, you know, like the movie... Spaceballs. But instead, it's been painful and disturbing, like the movie Police Academy.</p>

        </div><!-- end of resume-item -->

      </section>
      <!-- end Experience -->
      {% endif %}

      {% if site.resume_section_education %}
      <!-- begin Education -->
      <section class="content-section">

        <header class="section-header">
          <h2>Education</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title">Faculty of Computer Science and Engineering</h3>
          <h4 class="resume-item-details">Bachelor of Science (Information Science), sub-degree: Computer Science and Engineering &bull; 2012 &mdash; Present </h4>
          <p class="resume-item-copy"></p>
        </div>

      </section>
      <!-- end Education -->
      {% endif %}

      {% if site.resume_section_projects %}
      <!-- begin Projects -->
      <section class="content-section">

        <header class="section-header">
          <h2>Projects</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title"><a target="_blank" href="https://www.dropbox.com/s/z0wn8c1icj2oj6f/StockMarketZend.zip?dl=0">StockMarket</a></h3>
          <h4 class="resume-item-details">School project</h4>
          <p class="resume-item-copy">PHP Zend framework gamification of stock market.</p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">FoodFu</h3>
          <h4 class="resume-item-details">School project</h4>
          <p class="resume-item-copy">Andriod application for finding the closest restaurants, coffe bars nearby.</p>
        </div>

      </section>
      <!-- end Projects -->
      {% endif %}

      {% if site.resume_section_skills %}
      <!-- begin Skills -->
      <section class="content-section">

        <header class="section-header">
          <h2>Skills</h2>
        </header>

        <div class="resume-item">
          <h4 class="resume-item-details">Web Technologies</h4>
          <p class="resume-item-copy">HTML, CSS, XML, JSON</p>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">Programming Languages</h4>
          <p class="resume-item-copy">Java, C#, PHP, Javascript</p>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">Relational DBs</h4>
          <p class="resume-item-copy">SQL Server, Oracle</p>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">DB Design</h4>
          <p class="resume-item-copy">ER diagram, 1NF, 2NF, 3NF, BCNF</p>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">NoSQL DBs</h4>
          <p class="resume-item-copy">RDF</p>
        </div>

      </section>
      <!-- end Skills -->
      {% endif %}

      {% if site.resume_section_recognition %}
      <!-- begin Recognition -->
      <section class="content-section">

        <header class="section-header">
          <h2>References</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title">Vlatko Ristovski</h3>
          <h4 class="resume-item-details">Ruby developer at <a target="_blank" href='http://medialab.io/'>Medialab.io<a></h4>
          <p class="resume-item-copy">phone: +389 78 304 870 &bull; email: ristovski.vlatko234@gmail.com </p>
      </section>
      <!-- end Recognition -->
      {% endif %}

      {% if site.resume_section_associations %}
      <!-- begin Associations -->
      <section class="content-section">

        <header class="section-header">
          <h2>Associations</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title"><a href="http://beerfortheworld.com">Beer for the World</a></h3>
          <h4 class="resume-item-details">Volunteer &bull; 2008 &mdash; Present</h4>
          <p class="resume-item-copy">Organized fund drives and participated in fundraising events for the benefit of families in third world countries without proper access to malt beverages.</p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Springfield Nuclear Workers Labor Union</h3>
          <h4 class="resume-item-details">Member in Good Standin &bull; 1994 &mdash; Present</h4>
          <p class="resume-item-copy">Founding member of the local nuclear workers labor union.</p>
        </div>

      </section>
      <!-- end Associations -->
      {% endif %}

      {% if site.resume_section_links %}
      <!-- begin Links -->
      <section class="content-section">

        <header class="section-header">
          <h2>Additional Links</h2>
        </header>

        <div class="resume-item">
          <ul class="resume-item-list">
            <li><a href="#">Springfield Poker Club</a></li>
            <li><a href="#">Springfield Donut Eater's User Group</a></li>
          </ul>
        </div>

      </section>
      <!-- end Links -->
      {% endif %}

      {% if site.resume_section_interests %}
        <section class="content-section">

          <header class="section-header">
            <h2>Interests</h2>
          </header>

          <div class="resume-item">
            <ul class="resume-item-list">
              <li>Sports(basketball)</li>
              <li>Reading books(The Da Vinci Code, Steve Jobs)</li>
              <li>Watching movies</li>
            </ul>
          </div>

        </section>
      {% endif %}

      <footer class="page-footer">
        <p class="footer-line">Made by <a href="mailto:parmakovab@yahoo.com">Parmakova</a></p>
      </footer>

    </div>

  </body>

</html>
